<div class="game-state-page">
  <span class="state-title animate__animated animate__bounceIn">Correct!</span>
  <span class="value-change animate__animated animate__bounceIn animate__delay-1s">+{{numberOfPointsToAdd}}</span>
  <img class="animate__animated animate__bounceIn animate__delay-1s" src="../../assets/success/{{path}}.gif" />
  <app-countdown class="countdown" [startNumber]="3" (finished)="continue.emit()"></app-countdown>
</div>
