<div class="game">
  <app-game-data-bar></app-game-data-bar>
  <ng-container *ngIf="gameState === 'Playing'">
    <app-song-play class="animate__animated animate__fadeIn animate__duration-1s" *ngIf="isPlayingSong"></app-song-play>
    <app-guess *ngIf="!isPlayingSong" (stoppedRecording)="compare($event)"  [guessTime]="guessTime"></app-guess>
  </ng-container>
  <app-success-page *ngIf="gameState === 'Success'" (continue)="continuePlaying()" [numberOfPointsToAdd]="pointsToAdd"></app-success-page>
  <app-failure-page *ngIf="gameState === 'Failure'" [correctLine]="nextLine" (continue)="continuePlaying()"></app-failure-page>
  <div></div>
</div>