 .countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .number {
        font-size: 100px;
        line-height: 300px;
        animation: time  1000ms linear infinite;
    } 
}
    
@keyframes time {
    0%{
        opacity: 0;
        transform: scale(1);
    }
    
    50% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
    }
}  