<div class="game-bar">
  <div class="score">
    Score: {{score}}
  </div>
  <div class="lives">
    <img src="../../assets/icon/heart.svg" />
    <div class="lives-overlay">
      <span>
        {{lives}}
      </span>
      </div>
  </div>
</div>