.game-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 30px;

    .score {
        font-size: 30px;
    }

    .lives{
        position: relative;

        img {
            height: 60px;
            width: 60px;
        }

        .lives-overlay {
            position: absolute;
            left: 0;
            top: 0;
            height: 60px;
            width: 60px;
            z-index: 1000;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
      }
}