.state-title, .value-change {
    color:crimson;
} 

.correction {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}