<div class="game-state-page">
  <span class="state-title animate__animated animate__bounceIn">Wrong!</span>
  <span class="value-change animate__animated animate__bounceIn animate__delay-1s">-1 Lives</span>
  <img class="animate__animated animate__bounceIn animate__delay-1s" src="../../assets/failure/{{path}}.gif" />
  <div class="correction animate__animated animate__bounceIn">
    <span>The Correct line was:</span>
    <span>"{{correctLine}}"</span>
  </div>
  <app-countdown class="countdown" [startNumber]="3" (finished)="continue.emit()"></app-countdown>
</div>