.game-state-page {
    background-image: url("../../assets/music.gif");
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .state-title {
        font-size: 70px;
        display: flex;
        align-items: center;
    }

    .score {
        font-size: 50px;
    }

    .back-button {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        background-color: transparent;
        color: #6900af;
        font-size: 30px;

        img {
            height: 50px;
        }
    }
    
}
