<div class="game-state-page">
  <span class="state-title animate__animated animate__bounceIn">Game Over</span>
  <span class="score">Score: {{score}}</span>
  <button class="back-button" routerLink="/home"><img src="../../assets/icon/left-arrow.svg" />Go Back</button>
</div>
