/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "animate.css";

@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
    font-family: "FugazOne";
    src: url("assets/fonts/FugazOne-Regular.ttf");
}

@font-face {
    font-family: "Comfortaa";
    src: url("assets/fonts/Comfortaa-Light.ttf");
}

.circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid #930dd7;
    opacity: 0.8;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
    0 0 10px 5px #fff,  /* inner white */
    0 0 16px 10px #f0f, /* middle magenta */
    0 0 25px 15px #0ff; /* outer cyan */
}

* {
    color: white;
    font-family: Rubik, Helvetica, sans-serif;
}

.game-state-page {
    width: 100%;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .state-title {
        display: flex;
    }

    .value-change {
        font-size: 40px;
    }

    .countdown {
        transform: scale(0.6);
        margin-bottom: 1vh;
    }
}

:root {
    --animate-delay: 0.5s;
}