<div class="home-page">
  <div class="start-page" *ngIf="!isLoading">
    <div class="top">
      <button class="help-button">
        ?
      </button>
    </div>
    <div class="middle-section">
      <img class="logo" src="../../assets/DataSong.png" />
      <button class="start-button" (click)="isLoading = true">
        Start Game
      </button>
    </div>
    <div></div>
  </div>
  <app-countdown *ngIf="isLoading" [startNumber]="3" (finished)="startGame()"></app-countdown>
</div>