.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../../assets/sound.gif");
    background-position: bottom;
    background-repeat: repeat-x;

        .start-page {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .top {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                            
                .help-button {
                    margin: 10px;
                    height: 20px;
                    color: white;
                    border-radius: 100px;
                    background-color: cornflowerblue;
                }
            }

            .middle-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .logo {
                max-height: 50vh;
            }

            .start-button {
                width: 230px;
                height: 230px;
                border-radius: 50%;
                font-family: Comfortaa, Helvetica, sans-serif;
                background: linear-gradient(270deg, #80008b, #6900af);
                background-size: 1200% 1200%; 
                animation: gradiant 3s infinite;
                color: white;
                font-size: 40px;
                font-weight: bolder;
                transition: 0.5s;
                box-shadow: 0 0 10px 5px #303030;

                &:hover {
                    filter: brightness(70%);
                }
            }
        }
    }

    @keyframes gradiant {
        0%{background-position:0% 48%}
        50%{background-position:100% 53%}
        100%{background-position:0% 48%}
    }

    @keyframes glow {
        0%{
            box-shadow: 0 0 0 0 #f267ff;
        }
        50%{
            box-shadow: 0 0 10px 5px #f267ff;
        }
        100%{
            box-shadow: 0 0 0 0 #f267ff;
        }
    }

