.guess-page {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 100px;
        margin-bottom: 3vh;
    }

    .mic {
        color: white;
        animation: mic 1s ease infinite;
    }
}

@keyframes mic {
    0% {
        transform: rotate(0);
    }
    25%{
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0);
    }
    
}